@keyframes backgroundAnima {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
:root {
  --colorbackground:black;
  --colorblanc:white;
  --color2:#00CCC0;
  --colorhover:crimson;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--colorbackground);
}
.container .sidebar {
  margin-top: 15rem;
  background: rgba(8, 76, 42, 0.87);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgb(8, 76, 42);
  height: 50vh;
  text-transform: uppercase;
}
.container .sidebar ul {
  height: 100%;
  width: 3vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .sidebar ul li {
  height: 100%;
  width: 100%;
  margin-top: 0;
}
.container .sidebar ul li :hover {
  background: var(--colorhover);
  color: var(--colorblanc);
}
.container .sidebar ul li a {
  height: 100%;
  width: 100%;
  background-color: var(--color2);
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container main {
  overflow-y: scroll;
  flex-grow: 1;
}
.container main #accueil {
  height: 100vh;
  background: var(--colorbackground);
  text-transform: uppercase;
}
.container main #accueil h1 {
  color: red;
  position: relative;
}
.container main #accueil .titlePage {
  margin-top: 10rem;
  height: 2rem;
  color: var(--color2);
  text-transform: uppercase;
}
.container main #accueil .slogan {
  position: relative;
  top: 10rem;
  left: 15rem;
}
.container main #accueil .sloganAnimation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.container main #accueil .letter {
  color: var(--color2);
}
.container main #accueil .arrow {
  color: var(--colorTexte1);
  position: absolute;
  bottom: 5px;
  left: 50%;
  /* transform: translateX(-100%); */
  transform: translateY(1200%);
}
.container main #accueil .arrow .material-icons {
  font-size: 3rem;
  opacity: 0;
  color: var(--colorTexte1);
}
.container main #presentation {
  height: 100vh;
  background: var(--colorbackground);
  text-align: center;
}
.container main article {
  background: rgba(120, 120, 120, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  display: flex;
  color: var(--colorblanc);
}
.container main article .titlePage {
  height: 2rem;
  left: 0%;
  color: var(--color2);
  text-transform: uppercase;
}
.container main article .titlePage img {
  height: 5rem;
  border: 1px solid red;
}
.container main article .titlePage p {
  border: 1px solid rgb(217, 255, 4);
}
.container main #competences {
  height: 100vh;
  background: var(--colorbackground);
  text-align: center;
}
.container main #competences .titlePage {
  height: 2rem;
  left: 0%;
  color: var(--color2);
  text-transform: uppercase;
}
.container main #projets {
  height: 100vh;
  background: var(--colorbackground);
  text-align: center;
}
.container main #projets .titlePage {
  height: 2rem;
  left: 0%;
  color: var(--color2);
  text-transform: uppercase;
}

footer {
  height: 5rem;
  text-align: center;
  background-color: var(--color2);
  display: flex;
}
footer ul {
  list-style: none;
  align-items: center;
  flex-direction: column;
}
footer ul li a img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
