:root {
  --colorbackground: black;
  --colorblanc: white;
  --color2: #00CCC0;
  --colorhover: #dc143c;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}
body .container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--colorbackground);
}
body .container .titlePage {
  display: inline-flex;
  color: var(--color2);
  text-transform: uppercase;
}
body .container #titlePageAccueil {
  opacity: 1;
}
body .container #titlePagePresentation {
  opacity: 0;
}
body .container #titlePageCompetence {
  opacity: 0;
}
body .container #titlePageProjet {
  opacity: 0;
}
body .container .sidebar {
  background-color: var(--color2);
  margin-top: 15rem;
  height: 50vh;
  text-transform: uppercase;
  border-radius: 40px;
}
body .container .sidebar ul {
  height: 100%;
  width: 4vw;
  list-style: none;
  display: flex;
  flex-direction: column;
}
body .container .sidebar ul li {
  height: 100%;
}
body .container .sidebar ul li a {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .sidebar ul li a .material-icons {
  text-align: center;
  font-size: 2.5rem;
}
body .container .sidebar ul li a .titleSideBar {
  transform: translateY(-50%);
  position: absolute;
  left: 6.8rem;
  color: rgb(0, 0, 0);
  background-color: #00CCC0;
  border-radius: 0.3rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
body .container .sidebar ul :hover {
  border-radius: 40px;
  background: var(--colorhover);
  color: var(--colorblanc);
}
body .container .sidebar ul :hover a .titleSideBar {
  opacity: 1;
  visibility: visible;
  transform: translateX(1.5rem) translateX(3.1rem);
}
body .container main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
body .container main #accueil {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
body .container main #accueil h1 {
  color: var(--color2);
  position: relative;
  opacity: 0;
  display: flex;
  display: inline-block;
}
body .container main #accueil .slogan {
  position: relative;
  left: 40rem;
  width: 30vw;
  height: 95.5vh;
}
body .container main #accueil .slogan .sloganAnimation1 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
body .container main #accueil .slogan .letter {
  color: var(--color2);
}
body .container main #presentation {
  height: 100%;
  width: 100%;
  display: flex;
}
body .container main #presentation .titlePresentationPage {
  height: 4vh;
  color: #00CCC0;
  margin-top: 1.5rem;
  margin-left: 50rem;
}
body .container main #presentation #myImage {
  border-radius: 50% 50% 50% 50%;
  margin-top: 10rem;
  height: 40vh;
  width: 15vw;
  transform: translateX(-40rem);
}
body .container main #presentation #myImage img {
  height: 25rem;
}
body .container main #presentation .textComplem {
  text-align: center;
  margin-top: 10rem;
  float: right;
  background-color: rgba(172, 172, 172, 0.35);
  margin-right: 10rem;
  height: 50vh;
  width: 20rem;
  color: #ffffff;
  border-radius: 20px;
  background: var(--color2);
  box-shadow: 5px 5px 8px #dc1b1b;
}
body .container main #competences {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
body .container main #competences .titleCompetencePage {
  color: #00CCC0;
  text-align: center;
  font-size: 1rem;
}
body .container main #competences #containeurComp {
  margin-top: 0.2rem;
  height: 96.6%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .container main #competences #containeurComp .listcompetence {
  height: 55rem;
  width: 30rem;
  transform: translateX(5rem);
}
body .container main #competences #containeurComp .listcompetence .titleList {
  height: 3%;
  width: 100%;
  color: #00CCC0;
  text-align: center;
  margin-top: 0.5rem;
}
body .container main #competences #containeurComp .listcompetence .listTripleList {
  width: 60%;
  height: 75%;
  margin-left: 5rem;
  margin-top: 1rem;
  border-radius: 20px;
  background: var(--color2);
  box-shadow: 5px 5px 8px #dc1b1b;
}
body .container main #competences #containeurComp .listcompetence .listTripleList ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
body .container main #competences #containeurComp .listcompetence .listTripleList ul li {
  height: 50%;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  list-style: none;
}
body .container main #competences #containeurComp .listcompetence .listTripleList ul li p {
  margin-top: 1rem;
  text-align: center;
}
body .container main #competences #containeurComp .listcompetence .listTripleList ul :hover {
  color: rgb(251, 251, 251);
  background: var(--colorhover);
}
body .container main #projets {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
body .container main #contact {
  display: inline-block;
  height: 100%;
  width: 100%;
}
body .container main #contact .titleContact {
  color: var(--color2);
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  font-size: 2rem;
}
body .container main #contact .containerContact {
  height: 85.3%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .container main #contact .containerContact .formulaireCont {
  height: 70%;
  width: 25%;
  margin-top: 10rem;
  margin-right: 1rem;
  border-radius: 20px;
  background: var(--color2);
  box-shadow: 5px 5px 8px #dc1b1b;
}
body .container main #contact .containerContact .formulaireCont #userMsg {
  height: 20rem;
  width: 25rem;
}
body .container main #contact .containerContact .formulaireCont form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 25px;
}
body .container main #contact .containerContact .formulaireCont legend {
  font-size: 1.4em;
  padding: 0.3rem;
  font-weight: 100;
  color: rgb(0, 0, 0);
}
body .container main #contact .containerContact .formulaireCont label {
  color: rgb(3, 2, 2);
}
body .container main #contact .containerContact .formulaireCont input[type=submit] {
  width: 100%;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: lighter;
}
body .container main #contact .containerContact .formulaireCont :hover input [type=submit] {
  background-color: rgb(13, 114, 22);
  width: 100%;
  padding: 15px 0;
  border: 1px solid #214567;
  color: rgb(225, 225, 225);
  font-size: 1rem;
}
body .container main #contact .containerContact .infoCont {
  height: 50%;
  width: 25%;
  color: #00CCC0;
  margin-top: 10rem;
  margin-left: 1rem;
}
body .container main #contact .containerContact .infoCont .socialList li {
  margin-top: 2rem;
  margin-left: 13rem;
}
body .container main #contact .containerContact .infoCont .socialList li a i {
  color: var(--color2);
  font-size: 1.5rem;
}
body .container main #contact .containerContact .infoCont .socialList li a :hover {
  color: var(--colorhover);
}
body .container main #footer {
  height: 3vh;
  width: 100vw;
  background-color: var(--color2);
}
body .container main #footer li a img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
