:root {
  --colorbackground: black;
  --colorblanc: white;
  --color2: #00CCC0;
  --colorhover: crimson;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 50rem;
  background: var(--colorbackground);
}
.container .titlePage {
  display: inline-flex;
  color: var(--color2);
  text-transform: uppercase;
}
.container #titlePageAccueil {
  opacity: 1;
}
.container #titlePagePresentation {
  opacity: 0;
}
.container #titlePageCompetence {
  opacity: 0;
}
.container #titlePageProjet {
  opacity: 0;
}
.container #titlePageContact {
  opacity: 0;
}
.container .sidebar {
  margin-top: 15rem;
  border-radius: 16px;
  height: 50vh;
  text-transform: uppercase;
}
.container .sidebar ul {
  height: 100%;
  width: 3vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .sidebar ul li {
  height: 100%;
  width: 100%;
  margin-top: 0;
}
.container .sidebar ul li a {
  height: 100%;
  width: 100%;
  background-color: var(--color2);
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .sidebar ul :hover {
  background: var(--colorhover);
  color: var(--colorblanc);
  width: 10vw;
}
.container main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  flex-grow: 1;
}
.container main .arrow {
  border: 1px solid 0;
  color: var(--colorTexte1);
  position: absolute;
  bottom: 5px;
  left: 50%;
  /* transform: translateX(-100%); */
  transform: translateY(1200%);
}
.container main .arrow .material-icons {
  font-size: 3rem;
  opacity: 0;
  color: var(--colorTexte1);
}
.container main #accueil {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  text-transform: uppercase;
}
.container main #accueil h1 {
  color: var(--color2);
  position: relative;
  opacity: 0;
}
.container main #accueil .slogan {
  position: relative;
  left: 42rem;
  width: 30vw;
}
.container main #accueil .slogan .sloganAnimation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.container main #accueil .slogan .letter {
  color: var(--color2);
}
.container main #presentation {
  border: 1px solid rgb(128, 4, 0);
  height: 100vh;
  width: 100vw;
  display: inline-block;
}
.container main #presentation #myImage {
  align-items: center;
  margin-top: 10rem;
  margin-right: 50rem;
  border: 1px solid rgb(0, 128, 6);
  height: 43vh;
  width: 15vw;
}
.container main #presentation #myImage img {
  height: 24rem;
}
.container main #presentation .titlePresentationPage {
  color: #00CCC0;
  display: inline-block;
  margin-top: 3rem;
  margin-left: 50rem;
}
.container main #presentation .textComplem {
  display: inline-block;
  margin-left: 80rem;
  border: 1px solid rgb(255, 226, 3);
  height: 10vh;
  width: 10vw;
  color: #00CCC0;
}
.container main #competences {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  border: 1px solid rgb(128, 4, 0);
}
.container main #competences .textComplem {
  display: inline-flex;
  border: 1px solid brown;
  color: red;
}
.container main #projets {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

#footer {
  height: 3vh;
  width: 100vw;
  background-color: var(--color2);
}
#footer li a img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
