// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
:root {
    --colorbackground: black;
    --colorblanc: white;
    --color2: #00CCC0;
    --colorhover: crimson;
}

#projets{
    // border: 1px solid rgb(225, 25, 25);
    .titleProjetPage{
        color: var(--color2);
        // border: 1px solid rgb(222, 225, 25);
        text-align: center;
        // display: flex;

    }
    .containerProjet{
        width: 100%;
        height: 100%;
        display: flex;
        // border: 1px solid rgb(231, 231,231);
        #zoneDifProjet{
            margin-top: 0.5rem;
            margin-left: 15rem;
            margin-right: 0.5rem;
            margin-bottom: 2rem;
            // border: 1px solid rgb(225, 25, 25);
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .projet1{
                // display: flex;
                margin-top: 5rem;
                margin-left: 1rem;
                width: 10%;
                height: 40%;
                background: rgba(61, 115, 168, 1);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border: 1px solid rgba(61, 115, 168, 1);
                .header{
                    text-align: justify;
                    color: rgb(255, 255, 255);
                }
                .data1{
                    .contenant{
                        .titleprojet{
                            a{
                                color: rgb(12, 163, 168);
                            }
                        }
                        // .text{
                        //     color: rgb(0, 0, 0);
                        // }
                    }
                    span{
                    display: inline;
                    justify-content: space-around;
                    }
                    opacity: 1;
                    // visibility: hidden;
                } 
            }
            #premSite{
                background-image:url('/image/img_projet_premier.png') ;
                // background-position:;
            }
            
        }
    }
}
