:root {
    --colorbackground: black;
    --colorblanc: white;
    --color2: #00CCC0;
    --colorhover: crimson;
}

*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

// @media (max-width: 37.438rem) {
//     body{
//         // height:100% ;
//         // width: 100%;
//         background-color: #ffffff;
//     }
// }
body{
    
    height: 100vh;
    width: 100vw;
    @media (max-width: 599px) {
    
    }
    .container {
        display: flex;
        height: 100vh;
        width: 100%;
        background: var(--colorbackground);
        .titlePage{
            display: inline-flex;
            color: var(--color2);
            text-transform: uppercase;
            }
        #titlePageAccueil{
            opacity: 1;
        }
        #titlePagePresentation{
            opacity: 0;
        }
        #titlePageCompetence{
            opacity: 0;
        }
        #titlePageProjet{
            opacity: 0;
        }
        #titlePageContact{
            opacity: 0;
        }
        .sidebar {
            background-color: var(--color2);
            margin-top: 15rem;
            height: 50vh;
            text-transform: uppercase;
            border-radius: 40px;
            ul {
                height: 100%;
                width: 4vw;
                list-style: none;
                display: flex;
                flex-direction: column;
                li {
                    height: 100%;
                    a {
                        border-radius: 40px;
                        height: 100%;
                        width: 100%;
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        font-size: 1.3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .material-icons{
                            text-align: center;
                            font-size: 2.5rem;
                        }
                        .titleSideBar{
                            transform: translateY(-50%);
                            position: absolute;
                            left: 6.8rem;
                            color: rgb(0, 0, 0);
                            background-color: #00CCC0;
                            // padding: 0.3rem ,0.6rem;
                            border-radius: 0.3rem;
                            transition: 0.5s;
                            // box-shadow: 0 0.5rem;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                :hover {
                    border-radius: 40px;
                    background: var(--colorhover);
                    color: var(--colorblanc);
                    // width: 10vw;
                   a{
                    .titleSideBar{
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(1.5rem)translateX(3.1rem);
                    }
                   }
                }
            }
        }
        main {
            height: 100vh;
            width: 100vw;
            overflow-y: scroll;
            #accueil {
                height: 100%;
                width: 100%;
                text-transform: uppercase;
                h1 {
                    color: var(--color2);
                    position: relative;
                    opacity: 0;
                    display: flex;
                    display: inline-block;
                    // border: 1px solid red;
                }
                .slogan {
                    // border: 1px solid red;
                    position: relative;
                    left: 40rem;
                    width:30vw;
                    height: 95.5vh;
                    .sloganAnimation1 {
                    margin-top: 1.5rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 5rem;
                    }

                    .letter {
                        color: var(--color2);
                    }
                }
            }
            #presentation {
                height: 100%;
                width: 100%;
                display: flex;
                .titlePresentationPage{
                    height: 4vh;
                    color: #00CCC0;
                    margin-top: 1.5rem;
                    margin-left: 50rem;
                }
                #myImage{
                    border-radius: 50% 50% 50% 50%;;
                    margin-top: 10rem;
                    height: 40vh;
                    width: 15vw;
                    transform: translateX(-40rem);
                    img{
                        height: 24rem;
                    }
                }
                .textComplem{
                    text-align: center;
                    margin-top: 10rem;
                    float: right;
                    background-color: rgba(172, 172, 172, 0.35);
                    margin-right: 10rem;
                    height: 50vh;
                    width: 20rem;
                    color: #ffffff;
                    background: rgba(79, 78, 78, 0);
                    border-radius: 1rem;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(0px);
                    -webkit-backdrop-filter: blur(0rem);
                    border: 1px solid rgb(56, 55, 55);
                    // transform: translateX(-40rem);

                }
            }
            #competences {
                height: 100%;
                width: 100%;
                text-transform: uppercase;
                .titleCompetencePage{
                    color: #00CCC0;
                    text-align: center;
                    font-size: 1rem;
                    // border: 1px solid rgb(10, 239, 247);
                }
                #containeurComp{
                    margin-top: 0.2rem;
                    height: 96.6%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    .listcompetence{
                        height: 55rem;
                        width: 30rem;
                        transform: translateX(5rem);
                        .titleList{
                            height: 3%;
                            width: 100%;
                            color: #00CCC0;
                            text-align: center;
                            margin-top: 0.5rem;
                        }
                        .listTripleList{
                            width: 60%;
                            height: 75%;
                            margin-left: 5rem;
                            margin-top: 1rem;
                            border-radius: 20px;
                            background: var(--color2);
                            box-shadow:  5px 5px 8px #dc1b1b;
                            ul{
                                margin-top: 0.1rem;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                border-radius: 20px;
                                li{
                                    // border: 1px solid rgb(249, 1, 1);
                                    height: 50%;
                                    font-size: 2rem;
                                    // margin-top: 1rem;
                                    // margin-bottom: 1rem;
                                    justify-content: center;
                                    text-align: center;
                                    list-style: none;
                                    // flex-wrap: wrap;
                                    
                                }
                                :hover{
                                color: rgb(251, 251, 251);
                                background: var(--colorhover);
                                }
                            }
                        }
                    }
                }
            #projets {
                height: 100%;
                width: 100%;
            }
            #contact{
                // border: 1px solid yellowgreen;
                display: inline-block;
                height: 100%;
                width: 100%;
            }
            #footer{
                height: 3vh;
                width: 100vw;
                background-color: var(--color2);
                li{
                    a{
                        img{
                        height: 2rem;
                        }
                    }
                }
            }
            }
            #projets {
                height: 100%;
                width: 100%;
                
            }
            #contact{
                // border: 1px solid yellowgreen;
                display: inline-block;
                height: 100%;
                width: 100%;
            }
            #footer{
                height: 3vh;
                width: 100vw;
                background-color: var(--color2);
                li{
                    a{
                        img{
                        height: 2rem;
                        }
                    }
                }
            }
        }
    }
}
